.misce-transaction-card {
    background-color: #3c4042;
    padding: 8px;
    border: 1px solid #24282a;
    border-radius: 18px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.misce-transaction-card:hover {
    border: 1px solid #ea80fc;
}

.misce-transaction-card-icon {
    width: 1.1rem;
    height: 1.1rem;
    background: #ea80fc;
    border-radius: 0.55rem;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 6px;
}
.misce-transaction-card-icon.expense {
    background-image: url('../../images/expense-logo.png');
}
.misce-transaction-card-icon.profit {
    background-image: url('../../images/profit-logo.png');
}
.misce-transaction-card-icon.transfer {
    background-image: url('../../images/transfer-logo.png');
}

.misce-transaction-card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.misce-transaction-card-title {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
.misce-transaction-card-title.untitled {
    font-weight: normal;
    font-style: italic;
}

.misce-transaction-card-subtitle {
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.misce-transaction-card-subtitle-icon {
    height: 1rem;
    margin-right: 6px;
}
.misce-transaction-card-subtitle-icon.more-margin {
    margin-inline: 9px;
}

.misce-transaction-card-amount-container {
    margin-left: auto;
    padding-left: 12px;
}

.misce-transaction-card-amount {
    font-weight: bold;
    color: white;
    font-size: 1.7rem;
    white-space: nowrap;
}
.misce-transaction-card-amount.profit {
    color: #03dac6;
}
.misce-transaction-card-amount.expense {
    color: #ff6d74;
}

@media screen and (max-width: 576px) {
    .misce-transaction-transaction-card {
        padding: 7px;
    }

    .misce-transaction-card-title {
        font-size: 1rem;
    }

    .misce-transaction-card-icon {
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
    }

    .misce-transaction-card-subtitle {
        font-size: 0.7rem;
    }

    .misce-transaction-card-amount {
        font-size: 1.6rem;
    }

    .misce-transaction-card-subtitle-icon {
        height: 1rem;
        margin-right: 5px;
    }
}