.misce-transaction-category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c4042;
    border: 1px solid transparent;
    padding: 11px;
    border-radius: 18px;
}
.misce-transaction-category:hover {
    color: #ea80fc;
    border: 1px solid #ea80fc;
}

.misce-transaction-category-name {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 5px;
}
.misce-transaction-category-name.profit {
    color: #03dac6;
}
.misce-transaction-category-name.expense {
    color: #ff6d74;
}

.misce-transaction-category-actions {
    display: flex;
    gap: 8px;
}


@media screen and (max-width: 768px) {
    .misce-transaction-category {
        padding: 9px;
    }

    .misce-transaction-category-name {
        font-weight: bold;
        font-size: 1rem;
        padding-left: 4px;
    }
}