.misce-mup-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 10px;
}

@media screen and (max-width: 768px) {
    .misce-mup-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .misce-mup-container {
        grid-template-columns: 1fr;
    }
}