.misce-transactions-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 10px;
}

.misce-transactions-section-header {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
}

.misce-transactions-section-header-line {
    width: 100%;
    border: 1px solid #c3c3c3;
    opacity: 0.2;
}
.misce-transactions-section-header-title {
    color: #c3c3c3;
    font-size: 1.1rem;
    padding-inline: 10px;
    display: flex;
    white-space: nowrap;
}

p.tot-profit {
    color: #03dac6;
    padding-left: 15px;
}

p.tot-expense {
    color: #ff6d74;
    padding-left: 15px;
}

@media screen and (max-width: 1400px) {
    .misce-transactions-section {
        grid-template-columns: 1fr 1fr;
    }

    .misce-transactions-section-header {
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 992px) {
    .misce-transactions-section {
        grid-template-columns: 1fr;
    }

    .misce-transactions-section-header {
        grid-column: 1 / 2;
    }
}