@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #191b1e;
}

/* width */

.w-100 {
    width: 100%;
}
.w-100 * {
    width: 100%;
}

/* margin */

.mt-more {
    margin-top: 30px;
}

/* containers */

.misce-container {
    display: flex;
    justify-content: center;
}

.misce-central-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 14px;
    width: 22em;
    max-width: 100%;

}

/* text */

.misce-login-title {
    color: #ffb2ff;
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 16px;
}
@media screen and (max-width: 600px) {
    .misce-login-title {
        font-size: 2em;
    }
}

.misce-input-error-message {
    font-size: 0.75rem;
    color: #ff6d74;
    padding: 0px 16px;
    text-align: justify;
}

/* buttons */
.misce-btn {
    padding: 8px 22px;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    background-color: #c3c3c3;
    transition: all 0.3s ease 0s;
}
.misce-btn:hover {
    color: white;
    background-color: #b64fc8;
}
.misce-btn:disabled:hover {
    cursor: default;
    color: #3c4042;
    background-color: #c3c3c3;
}

/* inputs */

.misce-input {
    background-color: #3c4042;
    border-radius: 20px;
    padding: 8px 10px;
    font-size: 1rem;
    color: white;
    border: none;
}
.misce-input:focus {
    outline: 2px solid #ffb2ff;
}

.misce-input-error, .misce-input-error:focus {
    outline: 2px solid #ff6d74;
}

.misce-input-label {
    color: #c3c3c3;
    padding-left: 16px;
}