.misce-transactions-container-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 15px;
    width: 100%;
}

.misce-no-elements-card {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.misce-no-elements-card-image {
    max-width: 200px;
}

.misce-no-elements-card-message {
    color: #c3c3c3;
    font-size: 1.8rem;
}

@media screen and (max-width: 576px) {
    .misce-no-elements-card {
        padding: 15px;
        gap: 15px;
    }

    .misce-no-elements-card-image {
        max-width: 140px;
    }

    .misce-no-elements-card-message {
        font-size: 1.5rem;
    }
}