.misce-transaction-type-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    margin-inline: 35px;
    margin-block: 15px;
}

.misce-transaction-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;
}

.misce-input-container.transaction-description {
    grid-column: 1 / 3;
}

@media screen and (max-width: 768px) {
    .misce-transaction-type-buttons-container {
        grid-template-columns: 1fr;
        margin-block: 10px;
    }

    .misce-transaction-form-container {
        grid-template-columns: 1fr;
    }

    .misce-input-container.transaction-description {
        grid-column: 1 / 2;
    }
}
